<% provide(:title, "Login") %>
<div class="container">
  <div align="center">
    <div class="form-field">
      <%= image_tag "norigrambig.png" %>
      <%= form_for(:session, url: sessions_path)  do |f| %>
        <div class="field">
          <%= f.text_field :username, placeholder: "電話番号、ユーザーネーム、メールアドレス", required: true,:size=>"35"%>
        </div>
        <div class="field">
          <%= f.password_field :password, placeholder: "パスワード", required: true,:size=>"35"%>
        </div>
        <div class="field">
          <%= f.submit "ログイン" %>
        </div>
      <% end %>
      <div class="field">
        <%= link_to "戻る", root_path %>
      </div>
    </div>
  </div>
</div>