<%= render 'shared/errors', obj: @user %>

<%= form_for(@user, url: password_path(@user))  do |f| %>
  <div class="form-group">
    <div class="col-md-8">
      <%= f.password_field :present_password, class: "form-control", placeholder:"現在のパスワード", required: true%>
    </div>
    <div class="col-md-8">
      <%= f.password_field :password, class: "form-control", placeholder:"新しいパスワード", required: true%>
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-8">
      <%= f.password_field :password_confirmation, class: "form-control", placeholder:"新しいパスワード（確認）", required: true %>
    </div>
  </div>
  <div class="actions">
    <%= f.submit "送信する" %>
  </div>
<% end %>