<%= render 'shared/errors', obj: @user %>
<div class="container">
  <div align="center">
    <div class="main_area">
      <aside class="iphone-image">
        <%= image_tag "iphone.jpg" %>
      </aside>
      <main class="form-field">
        <%= image_tag "norigrambig.png" %>
        <%= form_for @user do |f| %>
          <div class="field">
            <%= f.text_field :email, placeholder: "メールアドレス"%>
          </div>
          <div class="field">
            <%= f.text_field :fullname, placeholder: "フルネーム"%>
          </div>
          <div class="field">
            <%= f.text_field :username, placeholder: "ユーザーネーム"%>
          </div>
          <div class="field">
            <%= f.password_field :password, placeholder: "パスワード"%>
          </div>
          <div class="actions">
            <%= f.submit "登録する", class:"field under-space" %>
          </div>
          <p class="under-little-space">
            <%="アカウントをお持ちですか？"%> <%= link_to "ログインする", new_session_path,class:"login-button" %>
          </p>
        <% end %>
      </main>
    </div>
  </div>
</div>  